# Created by .ignore support plugin (hsz.mobi)

.idea
*.pyc
__init__.py
.ipynb_checkpoints

# Titanic Project
/titanic/testing.ipynb
/titanic/testing2.ipynb

# Stack Overflow Project
/stack-overflow-private/out
/stack-overflow-private/data
/stack-overflow-private/Statistical_Distributions.ipynb
